body {
    background: #a7d8af;
    color:blue;
    font-size: 36px;
    text-align: center;
    margin: 0;
  }
h1{
    color:brown;
  }
p{
    color: cadetblue;                                                   
  }
img{
    width: 200px;
    height: 200px;
}
a{
    text-decoration: none;
    color:crimson;
    background-color: darkgrey;
    border: 3px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
a img{
    width: 50px;
    height: 50px;
}
header{
  height: 30%;
  background-color: cadetblue;
}
main{
  background-color: rgb(109, 114, 114);
}
footer{
  height: 10%;
  background-color: rgb(92, 123, 124);
}